{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>花开十三院</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- js -->
{#    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>#}
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="index0.html"><b>碎片登记</b></a></h1>
                </div>
            </div><!-- col-md-4 -->

        </div>
    </header>
    <h3>重要说明：</h3>
    <h4>- 请在你想要换的SSR下面对应写上“想要”</h4>
    <h4>- 当自身碎片变化时请及时更新，更新时只需填写改变项</h4>
    <h4>- 奴良轩轩各种碎片求换雪童子！！！</h4>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <table class="table table-striped table-hover" contenteditable="true">
                    <thead>
		                <tr>
			                <th>昵称</th>
		                	<th>彼岸花</th>
		                	<th>茨木童子</th>
		                	<th>大天狗</th>
		                	<th>花鸟卷</th>
		                	<th>荒</th>
		                	<th>荒川</th>
		                	<th>辉夜姬</th>
		                	<th>酒吞童子</th>
		                	<th>青行灯</th>
			                <th>小鹿男</th>
		                	<th>雪童子</th>
		                	<th>阎魔</th>
		                	<th>妖刀姬</th>
			                <th>一目连</th>
		                	<th>玉藻前</th>
		                </tr>
	                </thead>
                    <tbody>
                        {% for table in table_list %}
                            <tr>
                                <th>{{ table.name }}</th>
                                <th>{{ table.bi_an_hua }}</th>
                                <th>{{ table.ci_mu }}</th>
                                <th>{{ table.da_gou }}</th>
                                <th>{{ table.hua_niao }}</th>
                                <th>{{ table.huang }}</th>
                                <th>{{ table.huang_chuang }}</th>
                                <th>{{ table.hui_ye_ji }}</th>
                                <th>{{ table.jiu_tun }}</th>
                                <th>{{ table.qing_deng }}</th>
                                <th>{{ table.xiao_lu }}</th>
                                <th>{{ table.xue_tong_zi }}</th>
                                <th>{{ table.yan_mo }}</th>
                                <th>{{ table.yao_dao }}</th>
                                <th>{{ table.yi_mu }}</th>
                                <th>{{ table.yu_zao_qian }}</th>
                            </tr>
                        {% empty %}
                            <div class="no-post">暂时还没有寮友添加数据！</div>
                        {% endfor %}
	                </tbody>
                </table>

                <h2>更新我的碎片信息</h2>

                <form class="col s12" action="update" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="team_name">昵称</label>
                            <input type="text" class="validate" name="name" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">彼岸花</label>
                            <input type="text" class="validate" name="bi_an_hua" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">茨木童子</label>
                            <input type="text" class="validate" name="ci_mu" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">大天狗</label>
                            <input type="text" class="validate" name="da_gou" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">花鸟卷</label>
                            <input type="text" class="validate" name="hua_niao" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">荒</label>
                            <input type="text" class="validate" name="huang" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">荒川</label>
                            <input type="text" class="validate" name="huang_chuang" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">辉夜姬</label>
                            <input type="text" class="validate" name="hui_ye_ji" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">酒吞童子</label>
                            <input type="text" class="validate" name="jiu_tun" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">青行灯</label>
                            <input type="text" class="validate" name="qing_deng" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">小鹿男</label>
                            <input type="text" class="validate" name="xiao_lu" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">雪童子</label>
                            <input type="text" class="validate" name="xue_tong_zi" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">阎魔</label>
                            <input type="text" class="validate" name="yan_mo" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">妖刀姬</label>
                            <input type="text" class="validate" name="yao_dao" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">一目连</label>
                            <input type="text" class="validate" name="yi_mu" value="">
                        </div>
                        <div class="input-field col s12">
                            <label for="team_name">玉藻前</label>
                            <input type="text" class="validate" name="yu_zao_qian" value="">
                        </div>
                    </div>
            <div class="row">
                <button id="inv_btn" class="btn waves-effect waves-light" type="submit" name="action">更新
                </button>
            </div>


        </form>
            </main>

        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - 不好吃の蛋蛋
                </p>
            </div>
        </div>
    </div>
</footer>



{#<script src="{% static 'js/script.js' %}"></script>#}
</body>
</html>